.player {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: rgba(173, 163, 153, 0.7);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    >span {
        font-size: 24px;
        margin-left: 12px;
    }

    >img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: fill;
    }
}

.player-active {
    background-color: rgba(226, 134, 43, 0.7) !important;
}