@for (player of game.players; track $index) {
<app-player [playerActive]="$index == game.currentPlayer" [image]="game.player_image[$index]" [name]="player"
    [ngStyle]="{'top.px': 100 + ($index * 90)}" class="player-position hide-on-mobile"
    (click)="editProfile($index)"></app-player>
}

<div class="scroll-container hide-on-desktop">
    @for (player of game.players; track $index) {
    <app-player-mobile [playerActive]="$index == game.currentPlayer" [name]="player"></app-player-mobile>
    }
</div>



<div class="board">
    <div class="card-stack">
        @for (item of [0,1,2,3]; track $index) {
        <img [ngStyle]="{'right.px': $index * 5}" src="assets/img/blue_back.png" alt="">
        }
        <img (click)="takeCard()" class="top-card" [ngStyle]="{'right.px': 20}" src="assets/img/blue_back.png" alt="">
        @for (card of game.playedCards; track $index) {
        <img class="played-card" [ngStyle]="{'right.px': 20}" src="assets/img/cards/{{ card }}.png" alt="">
        }
        @if (game.pickCardAnimation) {
        <img class="pick-card" [ngStyle]="{'right.px': 20}" src="assets/img/cards/{{ game.currentCard }}.png" alt="">
        }

    </div>
</div>

<app-game-info [card]="game.currentCard" class="card-position"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="add-btn">
    <mat-icon>add</mat-icon>
</button>